<span style='color: #000'>526 frames</span>	<span style='color: #900'>20,480 KB</span>	<span style='color: #090'>1,072.15 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />